.container{
max-width: 1200px;
margin:8rem auto;
background-color: lightgray;
box-shadow: 0 2rem 6rem rgba(0,0,0,3);
min-height: 50rem;

@media only screen and(max-width:$bp-largest)
{
margin:0;
max-width: 100%;
width:100%;
}
}

.header{
 font-size: 1.4rem;
height:70px;
background-color: white;
border-bottom: gray;
display: flex;
justify-content: space-between;
align-items: center;
}

.content{
display:flex;

@media only screen and(max-width:$bp-largest){
flex-direction: column;
}


.sidebar{
    background-color: darkgray;
    flex:0 0 10;
    display:flex;
    height:130rem;
    width:300px;
    flex-direction: column;
    justify-content: space-between;
    
}

.hotel-view{
background-color: orange;
flex:1;
height:100rem;
}

.detail{
display:flex;
}

.description{
background-color: blue;
flex: 0 0 60%;
font-size: 1.4rem;

}

.user-reviews{
background-color: greenyellow;
}

//user review and description
.detail{
    display:flex;
    padding:4.5rem;
    background-color: lightgray;
    border-bottom:1px solid gray;
}

.description{
    background-color: white;
    flex:0 0 60%;
    margin-right:4.5rem;
    padding:3rem;

}

.user-reviews{
    background-color: greenyellow;
    flex:1;

}